<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash:5000</destination>
        <reconnectionDelay>10 seconds</reconnectionDelay>
        <keepAliveDuration>5 minutes</keepAliveDuration>
        <queueSize>8192</queueSize>
        <neverBlock>true</neverBlock>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSZ</pattern>
                </timestamp>
                <logLevel><fieldName>level</fieldName></logLevel>
                <loggerName><fieldName>logger</fieldName></loggerName>
                <threadName><fieldName>thread</fieldName></threadName>
                <message><fieldName>message</fieldName></message>
                <mdc><fieldName>mdc</fieldName></mdc>
                <stackTrace><fieldName>stack_trace</fieldName></stackTrace> </providers>
        </encoder>
    </appender>

    <!-- 로그 레벨 설정 -->
    <springProfile name="prod">
        <root level="INFO"> <!-- INFO 레벨 이상의 로그만 취급 -->
            <appender-ref ref="LOGSTASH" />
        </root>
    </springProfile>

    <springProfile name="!prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
</configuration>